@model Aliquota.Domain.Webapp.Models.ProdutoFinanceiroViewModel


<h2>Adicionar Produto Financeiro</h2>

<form asp-action="CriaProduto">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Valor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ClienteId" class="col-md-2 control-label">Cliente</label>
            <div class="col-md-10">
                <select asp-for="ClienteId" class="form-control" asp-items="@ViewBag.ClienteId"> </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
        </div>
    </div>
</form>